<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="main.js"></script>
    <title>Method Definition in the Controller</title>
</head>
<body>

<div ng-controller='firstCtrl'>
    {{hello}}
    <br>
    {{getBookmark()}}
    <br>
    <button ng-click="setHello('Foo')">Foo</button>
    <button ng-click="setHello('Bar')">Bar</button>
    <br>
    <button ng-click="setHello('Hello world')">Reset</button>
    <br>
    {{myFactory.hello()}}
</div>
</body>
</html>
